# backend/requirements.txt (Mise à jour)
fastapi
uvicorn[standard]
pydantic-settings
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]
sqlalchemy
asyncpg
python-multipart
boto3
pytesseract
Pillow
tenacity
email-validator